body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    text-align: center;
    color: #444;
    margin-top: 20px;
}

form {
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="text"],input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="text"]:focus {
    border-color: #888;
    outline: none;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.task_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 20px;
    gap: 20px;
    margin-bottom: 20px;
}

.task {
    flex: 0 1 calc(33.33333% - 20px);
    box-sizing: border-box;
    border: solid 1px #000;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.task h2, .task p {
    margin: 10px 0;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task .task_button {
    text-align: center;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

a:hover {
    background-color: #0056b3;
}

a[role="button"] {
    display: inline-block;
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .task {
        flex: 0 1 calc(50% - 20px);
    }

    body {
        font-size: 14px;
    }

    form {
        padding: 15px;
    }

    input[type="text"], input[type="submit"] {
        font-size: 14px;
    }

    a {
        font-size: 12px;
        padding: 8px 10px;
    }
}

@media (max-width: 600px) {
    .task {
        flex: 0 1 100%;
    }
}
