{% extends 'base.html' %}

{% block body %}
<h1>トップページ</h1>
<div class="form">
<form action="/create" method="POST">
<label for="title">Title</label>
<input type="text" name="title" />
<label for="details">Details</label>
<input type="text" name="details" />
<input type="submit" value="Create" />
</form>
</div>

<div class="task_container">
    {% for task in tasks %}
    <div class="task">
        <h2>タイトル : {{ task.title }}</h2>
        <p>詳細 : {{ task.details }}</p>
        <div class="task_button">
            <a href="/delete/{{ task.id }}" role="button">Delete</a>
            <a href="/update_Get/{{task.id}}" role="button">Update</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}